body{
    padding: 20px;
    margin-top: 100px;
    font-family: sans-serif;
}
 .container{
    background-color: #F4F8FE;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 0;
    overflow: hidden;
    margin: 0 10%;
 }

.row{
    width: 100%;
    overflow: hidden;
}
.track{
    display: flex;
    gap: 30px;
    width: max-content;
}

/* ANIMATIONS */
@keyframes marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
@keyframes marquee-right{
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

.row1, .row3, .row2{
    display: flex;
    gap: 30px;
    animation-delay: -10s;
}
.row1 .track{
    animation: marquee-left 100s linear infinite;
}
.row2 .track{
    animation: marquee-right 100s linear infinite;
}
.row3 .track{
    animation: marquee-left 100s linear infinite;
}

.row:hover .track{
    animation-play-state: paused;
}

img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 13px rgb(255, 240, 243);
}