body{
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    font-style: italic;
    color: rgb(67, 44, 129);
}
.container{
    display:grid;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 300px;
    background-color: #C0B3E4;
    


    padding: 50px 70px;
    margin: auto;

    border-radius: 50px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);
}

.card{
    display:grid;
    background-color: #f5f2fd;
    border-radius: 10px;
    aspect-ratio: 2/1;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.desc{
    font-size: 20px;
    color: dimgray;
}
.percent{
    font-size: 40px;
    font-weight: 700;
}
#recruit{
    font-size: 30px;
}