body{
    padding: 40px;
    margin: 50px auto;
    width: 350px;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px repeat(4, 60px);
    gap: 10px;

    padding: 40px;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.num, .operators, .C{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    font-weight: bold;

    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    aspect-ratio: 1/1;
    border: 1px solid #dfdfdf;
}
.operators{
    background-color: black;
    color: white;
}
.C{
    background-color: crimson;
    color: white;
}
.space{
    grid-column: 1/-1;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}