body{
    margin: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;
}
.card{
    width: 300px;
    height: 400px;
    border: 2px solid #E0E0E0;          
    background-color: #F8F9FA; 
    border-radius: 10px;
    padding: 30px;
    margin: auto;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.card h2{
    color: #F1C40F;
    margin-top: 0;
}

.card p{
    color: #555555;
    
}
.card h2, .card p{
    text-align: center;
}