body{
    margin: 30px;
    padding: 30px;
    background-color: #fdf9ff;
    font-family: 'Outfit';
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
    
nav ul{
    gap: 15px;
    display: flex;
    border: none;
    background-color: #f0e6ff;
    border-radius: 10px;
    padding: 15px 20px;
}
nav a{
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
}
nav a:hover{
    color: #ffffff;
    background-color: #cda3ff;
}

article{
    border: 1px solid #e3d6ff;
    background-color: #f7f2ff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0 20px 0;
}
article p{
    margin: 12px 0;
    font-family: "Poppins", Sans-Serif;
    font-weight: 400;
    font-style: italic;
    color: #8B7B8B;
}
aside{
    text-decoration: none;
    background-color: #faf5ff;
    padding: 20px;
    border-left: 4px solid #cda3ff;
}
aside h2,article h3{
    padding-bottom: 12px;
    margin: 0;
}
footer{
    text-align: center;
    font-size: 15px;
    font-weight: 200;
}